# Database
db
exported
downloaded

# Downloaded
*_downloaded.csv

# Full export
*_full.csv


international/covid-19/pictures/*.svg
international/covid-19/pictures/*.eps

test
fit.log

# Python
.venv
__pycache__

international/covid-19/datas/countries_ratio_deaths_for_1000000hab_*.gdata
