# Datas manipulation
numpy==1.18.2
pandas==1.0.3
tabulate==0.8.7
geopandas==0.7.0

# Sqlite importer
sqlitebiter==0.32.1

# Download datas
requests==2.23.0

# Support excel files
xlrd==1.2.0

# Unzip 7z (used by Admin Express)
py7zr==0.6
